In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
# read San Francisco Crime csv
sf_df = pd.read_csv("San_Fran_Cleaned_Data.csv")
sf_df.head()

,Unnamed: 0,Category,Descript,Date,DayOfWeek
0,0,VEHICLE THEFT,STOLEN MOTORCYCLE,05/15/2018,Tuesday
1,1,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",05/15/2018,Tuesday
2,2,OTHER OFFENSES,PAROLE VIOLATION,05/15/2018,Tuesday
3,3,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,05/15/2018,Tuesday
4,4,OTHER OFFENSES,TRAFFIC VIOLATION,05/15/2018,Tuesday

In [3]:
sf_df.count()

Unnamed: 0    2215024
Category      2215024
Descript      2215024
Date          2215024
DayOfWeek     2215024
dtype: int64

In [4]:
# Converting Time to Date
sf_df['Date'] = pd.to_datetime(sf_df['Date'])

In [11]:
# Combining types of crimes
sf_df = sf_df.replace({"DISORDERLY CONDUCT": "Drunk/Disorderly", "DRUNKENNESS": "Drunk/Disorderly", "VANDALISM": "Drunk/Disorderly",\
                      "LARCENY/THEFT": "Theft", "STOLEN PROPERTY": "Theft"})
sf_df.head()

,Unnamed: 0,Category,Descript,Date,DayOfWeek
0,0,VEHICLE THEFT,STOLEN MOTORCYCLE,2018-05-15,Tuesday
1,1,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",2018-05-15,Tuesday
2,2,OTHER OFFENSES,PAROLE VIOLATION,2018-05-15,Tuesday
3,3,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,2018-05-15,Tuesday
4,4,OTHER OFFENSES,TRAFFIC VIOLATION,2018-05-15,Tuesday

In [15]:
# Passing Categories to be analyzed into a series
sf_df_filtered = sf_df[sf_df.Category.isin(['Theft', 'VEHICLE THEFT', 'ASSAULT', 'Drunk/Disorderly', 'DRIVING UNDER THE INFLUENCE', 'DRUG/NARCOTIC',\
                          'PROSTITUTION'])]

sf_df_filtered.head(25)

,Unnamed: 0,Category,Descript,Date,DayOfWeek
0,0,VEHICLE THEFT,STOLEN MOTORCYCLE,2018-05-15,Tuesday
7,7,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,2018-05-15,Tuesday
10,10,PROSTITUTION,LOITERING FOR PURPOSE OF PROSTITUTION,2018-05-14,Monday
13,13,ASSAULT,BATTERY,2018-05-14,Monday
14,14,Theft,GRAND THEFT FROM LOCKED AUTO,2018-05-14,Monday
15,15,Drunk/Disorderly,"MALICIOUS MISCHIEF, VANDALISM",2018-05-14,Monday
20,20,Theft,GRAND THEFT FROM LOCKED AUTO,2018-05-14,Monday
21,21,ASSAULT,BATTERY,2018-05-14,Monday
22,22,VEHICLE THEFT,STOLEN AND RECOVERED VEHICLE,2018-05-14,Monday
23,23,Theft,"STOLEN PROPERTY, POSSESSION WITH KNOWLEDGE, RE...",2018-05-14,Monday
24,24,DRUG/NARCOTIC,POSSESSION OF HEROIN FOR SALES,2018-05-14,Monday
26,26,ASSAULT,THREATS AGAINST LIFE,2018-05-14,Monday
27,27,Theft,PETTY THEFT FROM A BUILDING,2018-05-14,Monday
29,29,ASSAULT,"BATTERY, FORMER SPOUSE OR DATING RELATIONSHIP",2018-05-14,Monday
34,34,Theft,PETTY THEFT FROM LOCKED AUTO,2018-05-14,Monday
39,39,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,2018-05-14,Monday
40,40,ASSAULT,CHILD ABUSE (PHYSICAL),2018-05-14,Monday
43,43,ASSAULT,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,2018-05-14,Monday
45,45,ASSAULT,THREATS AGAINST LIFE,2018-05-14,Monday
46,46,Drunk/Disorderly,"MALICIOUS MISCHIEF, VANDALISM",2018-05-14,Monday
47,47,DRUG/NARCOTIC,POSSESSION OF METH-AMPHETAMINE,2018-05-14,Monday
51,51,Drunk/Disorderly,"MALICIOUS MISCHIEF, VANDALISM",2018-05-14,Monday
52,52,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,2018-05-14,Monday
54,54,Theft,GRAND THEFT SHOPLIFTING,2018-05-14,Monday
59,59,Theft,GRAND THEFT FROM LOCKED AUTO,2018-05-14,Monday

In [16]:
sf_df_filtered.count()

Unnamed: 0    1091561
Category      1091561
Descript      1091561
Date          1091561
DayOfWeek     1091561
dtype: int64

In [19]:
#filtering out all data before January 1, 2015
sf_df_date_filter = sf_df_filtered[sf_df_filtered['Date']>="01/01/2015"]
sf_df_date_filter.tail()

,Unnamed: 0,Category,Descript,Date,DayOfWeek
508834,508834,Theft,GRAND THEFT OF PROPERTY,2015-01-01,Thursday
508835,508835,Theft,GRAND THEFT FROM UNLOCKED AUTO,2015-01-01,Thursday
508836,508836,Theft,GRAND THEFT FROM LOCKED AUTO,2015-01-01,Thursday
508845,508845,Theft,GRAND THEFT PURSESNATCH,2015-01-01,Thursday
508847,508847,VEHICLE THEFT,STOLEN AUTOMOBILE,2015-01-01,Thursday

In [21]:
#filtering out all data after February 28, 2017
sf_df_enddate = sf_df_date_filter[sf_df_date_filter['Date']<="02/28/2017"]
sf_df_enddate.tail()

,Unnamed: 0,Category,Descript,Date,DayOfWeek
508834,508834,Theft,GRAND THEFT OF PROPERTY,2015-01-01,Thursday
508835,508835,Theft,GRAND THEFT FROM UNLOCKED AUTO,2015-01-01,Thursday
508836,508836,Theft,GRAND THEFT FROM LOCKED AUTO,2015-01-01,Thursday
508845,508845,Theft,GRAND THEFT PURSESNATCH,2015-01-01,Thursday
508847,508847,VEHICLE THEFT,STOLEN AUTOMOBILE,2015-01-01,Thursday

In [23]:
#Filtering out dates (only Jan-Feb 2015 will remain)

sf_df_2015 = sf_df_date_filter[sf_df_date_filter['Date']<="02/28/2015"]
sf_df_2015.head()

,Unnamed: 0,Category,Descript,Date,DayOfWeek
482915,482915,Theft,"STOLEN PROPERTY, POSSESSION WITH KNOWLEDGE, RE...",2015-02-28,Saturday
482916,482916,DRUG/NARCOTIC,POSSESSION OF OPIATES,2015-02-28,Saturday
482918,482918,Theft,PETTY THEFT FROM A BUILDING,2015-02-28,Saturday
482919,482919,Drunk/Disorderly,"MALICIOUS MISCHIEF, VANDALISM",2015-02-28,Saturday
482920,482920,Theft,PETTY THEFT OF PROPERTY,2015-02-28,Saturday

In [49]:
# Plot Graph for January-February 2015
sf_df_2015['Category'].value_counts()
#define variable for x-axis (date)
#x_axis = sf_df_2015["Date"]

Theft                          7165
ASSAULT                        2124
Drunk/Disorderly               1295
VEHICLE THEFT                  1158
DRUG/NARCOTIC                   724
DRIVING UNDER THE INFLUENCE      67
PROSTITUTION                     66
Name: Category, dtype: int64

In [51]:
#plot graph

category = [Theft, ASSAULT, Drunk/Disorderly, VEHICLE_THEFT, DRUG/NARCOTIC, DRIVING_UNDER_THE_INFLUENCE, PROSTITUTION]

theft, = plt.plot(x_axis, sf_df_2015.loc['Category',['Theft']], color="red", label="theft")

NameError: name 'Theft' is not defined